<h1>Eat Da Burger!</h1>

<div class="not-eaten">

</div>

<div class="eaten">

</div>
<br><br>

<ul>
  {{#each burgers}}
    <!-- {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}} -->
  {{/each}}
</ul>
<!-- <h2>Cats that are sleepy!</h2>
<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> -->

<textarea rows="2" columns="4"></textarea>
<button id="Submit">Submit</button>
<br><br>
<p>Enter a burger an click Submit!</p>
